<header>
  <h1>SHANTI</h1>
</header>

<hr />
  <p><h2>
        Living in the world today can be so stressful. Dealing with work, everyday life and what we see in the news
         is overwhelming. It is important to release, reset and recharge. A Calm mind brings inner strength and self confidence,
         so that's very important for good health. 'Dalai Lama'
    <br><br>
        Welcome to Shanti, the application that allows you to share your thoughts, emotions, experiences,
        and many more to our beautiful community. We believe it is important to find peace and balance 
        which assist with living a better meaningful life. Whether it be through meditation, self reflection or 
        just a positive approach to everyday life. 
    <br><br>
        We at Shanti are looking forward to share in your experiences, grow and build togather as a family. Lets 
        be true to ourselves and everyone in our community, while navigating through life in a upbeat and harmonious way.
    <br><br>
        SHANTI, SHANTI, SHANTI..... Peace in Mind, Body, Spirit
  </p></h2>
<hr />

<section>
    <picture>
      <img src="images/zen2.jpg" alt="green tree" width="50%" height="auto">
    </picture>

    <article>
      <h1>Be Mindful</h1>
      <p>At a young age I was told to, “Believe nothing, no matter where you read it, or who said it, 
      no matter if I have said it, unless it agrees with your own reason and your own common sense.” 
      As I got older I understood what that meant.</p>
      Created by Zen on Thursday, February, 06, 2020

      <h1>Sunset</h1>
        <p>Many people resist change and hold on to what the universe is telling them to release. However, 
      you should embrace positive change and make it part of your life. If things aren’t going as planned, 
      maybe it’s time to re-examine your actions and consider what direction really matters to you.</p>

        <p>The sunset tells us that the day is almost over. It reminds us of the importance of time and how we 
      should make good use of it. It’s also a time for reflection. As your day comes to a close, ask yourself 
      whether you’ve done everything you set out to do or been the person you desire to be.</p>
      Created by Zen on Wednesday, February, 05, 2020
      
    </article>
</section>

<hr />
  <br>
    <div align="center">
      <form class="" action="/posts/new" method="get">								
        <input type="submit" id="submit" class="btn btn-primary" style="font-size:15px"; value="Share your thoughts">
      </form>
    </div>