<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>SHANTI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/shanti.css" />
  </head>
  <body>
    <div class="wrapper">
        <div style="height:100%;background-image:url('/images/beach.jpg');">

          
        <% if !session.has_key?(:user_id) %>
          <div>
            <ul>
              <li style="font-size:20px";><a href="/login">LOGIN</a></li>
              <li style="font-size:20px";><a href="/signup">SIGNUP</a></li>
            </ul>
          </div>

        <% else %>

          <div>
            <ul>
              <li style="font-size:20px";><a href="/posts">ALL POSTS</a></li>
              <li style="font-size:20px";><a href="/posts/new">NEW POST</a></li>
            </ul>
          </div>

        <% end %>






        <%= yield %>






      


      <br><br>
      <% if session.has_key?(:user_id) %>
        <div align="center">
          <form action="/logout" method="get">
            <input type="hidden" id="hidden" name="_method" value="delete">
            <input type="submit" id="submit" class="btn btn-primary" style="font-size:15px"; value="Log Out">
          </form>
        </div>
      <% end %>

        <footer class="branding" align="center">
          <p aliggn="center"><strong>email: Shanti_Shanti@gmail.com</strong><br>
            <strong>tel: (954) 786 - 1087</strong></p>
          <p align="center"><small>&copy; 2020 <strong>Shanti</strong></small></p>
        </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>